<header class="custom-header text-white text-center">
  <div class="container py-5">
    <i class="bi bi-person-circle profile-icon"></i>
    <h1 class="site-title">Calulo's Portfolio</h1>
    <p class="site-subtitle">Welcome to my online space</p>
  </div>

  <nav class="navbar custom-navbar">
    <div class="container justify-content-center">
      <ul class="navbar-nav nav-links">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>





<main class="container py-5">
  <router-outlet></router-outlet>
</main>